<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Formulário de cadastro de professor</title>
</head>
<body>
	<h1>Adicionar Professor</h1>
	<form action="/aluno/adicionar" method = "post">
		<label>RA</label> </br>
		<input type="text" name="matricula" id="matricula" placeholder="Matricula do Professor"/>
		</br>
		<label>Nome do Aluno</label> </br>
		<input type="text" name="nome_professor" id="nome_professor" placeholder="Nome do Professor"/>
		</br> 
		<label>E-mail</label> </br>
		<input type="text" name="email_professor" id="email_professor" placeholder="e-mail"/>
		</br>
		<label>Senha</label> </br>
		<input type="password" name="senha_professor" id="senha_professor" placeholder="senha"/>
		</br></br>
		<input type="submit" value="Enviar" />
	</form>
	<br/><a href="/aluno">Menu Principal</a>
</body>
</html>