<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Apagar Professor</title>
</head>
<body>
	<h1>Apagar Professor</h1>
	<br/>

	<form action="/aluno/apagarAluno" method="post">
		<label>Matricula do Professor:</label><br/><br/>
		<input type="text" name="matricula" id="matricula"/><br/><br/>
		<input type="submit" value="Apagar">
	</form>
	<br/><a href="/aluno">Menu Principal</a>
</body>
</html>