<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Buscar Professor</title>
</head>
<body>
	<h1>Buscar Professor</h1>
	<br/>

	<form action="/aluno/buscarAluno" method="post">
		<label>Matricula do Professor:</label><br/><br/>
		<input type="text" name="matricula" id="matricula"/><br/><br/>
		<input type="submit" value="Enviar">
	</form>
	<br/><a href="/aluno">Menu Principal</a>
</body>
</html>