<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Buscar Aluno</title>
</head>
<body>
	<h1>Buscar Aluno</h1>
	<br/>

	<form action="/aluno/buscarAluno" method="post">
		<label>RA do Aluno:</label><br/><br/>
		<input type="text" name="RA" id="RA"/><br/><br/>
		<input type="submit" value="Enviar">
	</form>
	<br/><a href="/aluno">Menu Principal</a>
</body>
</html>