<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Edição de Professores</title>
</head>
<body>
	<h1>Editar Professor</h1>
	<form action="/aluno/updateAluno" method = "post">
		<label>RA</label> </br>
		<input type="text" name="matricula" id="matricula" placeholder="Matricula do Professor" value="<%= professor[0].matricula%>"/>
		</br>
		<label>Nome do Professor</label> </br>
		<input type="text" name="nome_professor" id="nome_professor" placeholder="Nome do Professor" value="<%= professor[0].nome_professor%>"/>
		</br> 
		<label>E-mail</label> </br>
		<input type="text" name="email_professor" id="email_professor" placeholder="e-mail" value="<%= professor[0].email_professor%>"/>
		</br>
		<label>Senha</label> </br>
		<input type="password" name="senha_professor" id="senha_professor" placeholder="senha" value="<%= professor[0].senha_professor%>"/>
		</br></br>
		<input type="submit" value="Enviar" />
	</form>
	<br/><a href="/aluno">Menu Principal</a>
</body>
</html>