<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Menu Aluno</title>
</head>
	<body>
		<h1>Menu Aluno</h1>
		<a href="aluno/formulario">Adicionar Aluno</a><br/><br/>
		<a href="aluno/buscar">Buscar Alunos</a><br/><br/>
		<a href="aluno/listar">Listar Alunos</a><br/><br/>
		<a href="aluno/apagar">Apagar Aluno</a><br/><br/>
	</body>
</html>