<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Listar Turmas</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Turma</a>
		<a class="navbar-brand" href="/diariodeclasse">Home</a>
	</nav>
	<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-2">
					<ul class="nav flex-column">
					  <li class="nav-item">
					    <a class="nav-link" href="/turma/formulario">Adicionar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma/buscar">Buscar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma/listar">Listar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma/editar">Editar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma/apagar">Apagar</a>
					  </li>
					</ul>
				</div>
				<div class="col-sm-10">
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Código Turma</th>
					      <th scope="col">Turma</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% for(var i=0; i < turmas.length; i++){ %>						
							<tr>
								<td><%= turmas[i].codigo_turma%></td>
								<td><%=turmas[i].turma%></td>
							</tr>
						<% } %>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>